name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, edge, firefox, edge]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_validusername: ${{ secrets.VALID_USERNAME }}
          CYPRESS_validpassword: ${{ secrets.VALID_PASSWORD }}
          CYPRESS_invalidusername: test123
          CYPRESS_invalidpassword: wrongpass
        with:
          browser: ${{matrix.browser}}
